.background    { background: rgb(218, 179, 255);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background-image: url("poison.PNG"); }
.wall          { background: rgb(71, 71, 107);   }

.actor  { position: absolute;  }
.coin   { background: rgb(241, 229, 89); }
.player { background-image: url("player.PNG"); }
.enemy  { background-image: url("gastly.PNG"); }
.suppply{ background: black }

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}
.lost .player {
  background: rgb(122, 0, 153);
}
.won .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}
